<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="post">
      <label for="text">Mesaj:</label>
      <textarea name="text" id="text" cols="30" rows="10"></textarea>
      <span>Mesajul trebuie sa aibe maxim 5000 de caractere!</span>
      <button>Trimite</button>
    </form>
  </body>
</html>
