<% layout("shared/layout.ejs") -%>
<div class="text-center fullh d-flex align-items-center justify-content-center">
  <div>
    <h1>Mesajul a fost trimis!</h1>
    <a href="/">Mergi înapoi</a>
  </div>
</div>
