<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Pangolin";
      }

      html body {
        background-color: #ffb0f4;
        background-image: url("https://slidescorner.com/wp-content/uploads/2023/01/02-Aesthetic-Valentines-Day-Wallpapers-With-Cute-Hearts-Free-For-PPT-Backgrounds-by-SlidesCorner.com_.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        backdrop-filter: brightness(90%);
      }
      .content {
        width: 100%;
        max-width: 1200px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
      }

      a {
        border: none;
        background-color: #ba274d;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 1rem;
        color: white;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1>Mesajul a fost trimis!</h1>
      <a href="/">Mergi inapoi</a>
    </div>
  </body>
</html>
